
.navItem{
    border-radius: 5px;
    display: flex;
    width: 100%;
    min-width: 180px;
    margin: 5px 0px;
    padding: 12px;
}

.navItem-Icon {
    height: 25px;
    margin-right: 16px;
}

.navItem-IconPerfil {
    border-radius: 50%;
}


.navItem-action {
    padding-left: 5px;
}

