.galeria{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:auto auto auto;
    gap: 0.5em;
}
.GaleryBar{
    display: flex;
    justify-content: center;
}

.galeria-item img{
    width: 100%;
}