.ProfileInfo{
    display: flex;
    justify-content: center;
}

.ProfileInfo-Picture img{
    border-radius: 100%;
    width: 160px;
}

.ProfileInfo-Data{
    padding-left: 50px;
}

.ProfileInfo-Data ul{
    column-gap: 15px;
    display: flex;
    list-style: none;
    padding: 0px;
}
